<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.testcross.testcrossblog.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="cn.testcross.testcrossblog.bean.Article" >
    <id column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="article_user_id" property="articleUserId" jdbcType="INTEGER" />
    <result column="article_title" property="articleTitle" jdbcType="VARCHAR" />
    <result column="article_content" property="articleContent" jdbcType="VARCHAR" />
    <result column="article_view_count" property="articleViewCount" jdbcType="INTEGER" />
    <result column="article_comment_count" property="articleCommentCount" jdbcType="INTEGER" />
    <result column="article_like_count" property="articleLikeCount" jdbcType="INTEGER" />
    <result column="article_has_comment" property="articleHasComment" jdbcType="INTEGER" />
    <result column="article_status" property="articleStatus" jdbcType="INTEGER" />
    <result column="article_order" property="articleOrder" jdbcType="INTEGER" />
    <result column="article_update_time" property="articleUpdateTime" jdbcType="TIMESTAMP" />
    <result column="article_create_time" property="articleCreateTime" jdbcType="TIMESTAMP" />
    <result column="article_summary" property="articleSummary" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    article_id, article_user_id, article_title, article_content, article_view_count, 
    article_comment_count, article_like_count, article_has_comment, article_status, article_order, 
    article_update_time, article_create_time, article_summary
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.testcross.testcrossblog.bean.ArticleExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    select 
    <include refid="Base_Column_List" />
    from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    delete from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.testcross.testcrossblog.bean.ArticleExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    delete from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    insert into article (article_id, article_user_id, article_title, 
      article_content, article_view_count, article_comment_count, 
      article_like_count, article_has_comment, article_status, 
      article_order, article_update_time, article_create_time, 
      article_summary)
    values (#{articleId,jdbcType=INTEGER}, #{articleUserId,jdbcType=INTEGER}, #{articleTitle,jdbcType=VARCHAR}, 
      #{articleContent,jdbcType=VARCHAR}, #{articleViewCount,jdbcType=INTEGER}, #{articleCommentCount,jdbcType=INTEGER}, 
      #{articleLikeCount,jdbcType=INTEGER}, #{articleHasComment,jdbcType=INTEGER}, #{articleStatus,jdbcType=INTEGER}, 
      #{articleOrder,jdbcType=INTEGER}, #{articleUpdateTime,jdbcType=TIMESTAMP}, #{articleCreateTime,jdbcType=TIMESTAMP}, 
      #{articleSummary,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="articleUserId != null" >
        article_user_id,
      </if>
      <if test="articleTitle != null" >
        article_title,
      </if>
      <if test="articleContent != null" >
        article_content,
      </if>
      <if test="articleViewCount != null" >
        article_view_count,
      </if>
      <if test="articleCommentCount != null" >
        article_comment_count,
      </if>
      <if test="articleLikeCount != null" >
        article_like_count,
      </if>
      <if test="articleHasComment != null" >
        article_has_comment,
      </if>
      <if test="articleStatus != null" >
        article_status,
      </if>
      <if test="articleOrder != null" >
        article_order,
      </if>
      <if test="articleUpdateTime != null" >
        article_update_time,
      </if>
      <if test="articleCreateTime != null" >
        article_create_time,
      </if>
      <if test="articleSummary != null" >
        article_summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="articleUserId != null" >
        #{articleUserId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null" >
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null" >
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleViewCount != null" >
        #{articleViewCount,jdbcType=INTEGER},
      </if>
      <if test="articleCommentCount != null" >
        #{articleCommentCount,jdbcType=INTEGER},
      </if>
      <if test="articleLikeCount != null" >
        #{articleLikeCount,jdbcType=INTEGER},
      </if>
      <if test="articleHasComment != null" >
        #{articleHasComment,jdbcType=INTEGER},
      </if>
      <if test="articleStatus != null" >
        #{articleStatus,jdbcType=INTEGER},
      </if>
      <if test="articleOrder != null" >
        #{articleOrder,jdbcType=INTEGER},
      </if>
      <if test="articleUpdateTime != null" >
        #{articleUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleCreateTime != null" >
        #{articleCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleSummary != null" >
        #{articleSummary,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.testcross.testcrossblog.bean.ArticleExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    select count(*) from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    update article
    <set >
      <if test="record.articleId != null" >
        article_id = #{record.articleId,jdbcType=INTEGER},
      </if>
      <if test="record.articleUserId != null" >
        article_user_id = #{record.articleUserId,jdbcType=INTEGER},
      </if>
      <if test="record.articleTitle != null" >
        article_title = #{record.articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.articleContent != null" >
        article_content = #{record.articleContent,jdbcType=VARCHAR},
      </if>
      <if test="record.articleViewCount != null" >
        article_view_count = #{record.articleViewCount,jdbcType=INTEGER},
      </if>
      <if test="record.articleCommentCount != null" >
        article_comment_count = #{record.articleCommentCount,jdbcType=INTEGER},
      </if>
      <if test="record.articleLikeCount != null" >
        article_like_count = #{record.articleLikeCount,jdbcType=INTEGER},
      </if>
      <if test="record.articleHasComment != null" >
        article_has_comment = #{record.articleHasComment,jdbcType=INTEGER},
      </if>
      <if test="record.articleStatus != null" >
        article_status = #{record.articleStatus,jdbcType=INTEGER},
      </if>
      <if test="record.articleOrder != null" >
        article_order = #{record.articleOrder,jdbcType=INTEGER},
      </if>
      <if test="record.articleUpdateTime != null" >
        article_update_time = #{record.articleUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleCreateTime != null" >
        article_create_time = #{record.articleCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleSummary != null" >
        article_summary = #{record.articleSummary,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    update article
    set article_id = #{record.articleId,jdbcType=INTEGER},
      article_user_id = #{record.articleUserId,jdbcType=INTEGER},
      article_title = #{record.articleTitle,jdbcType=VARCHAR},
      article_content = #{record.articleContent,jdbcType=VARCHAR},
      article_view_count = #{record.articleViewCount,jdbcType=INTEGER},
      article_comment_count = #{record.articleCommentCount,jdbcType=INTEGER},
      article_like_count = #{record.articleLikeCount,jdbcType=INTEGER},
      article_has_comment = #{record.articleHasComment,jdbcType=INTEGER},
      article_status = #{record.articleStatus,jdbcType=INTEGER},
      article_order = #{record.articleOrder,jdbcType=INTEGER},
      article_update_time = #{record.articleUpdateTime,jdbcType=TIMESTAMP},
      article_create_time = #{record.articleCreateTime,jdbcType=TIMESTAMP},
      article_summary = #{record.articleSummary,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    update article
    <set >
      <if test="articleUserId != null" >
        article_user_id = #{articleUserId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null" >
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null" >
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleViewCount != null" >
        article_view_count = #{articleViewCount,jdbcType=INTEGER},
      </if>
      <if test="articleCommentCount != null" >
        article_comment_count = #{articleCommentCount,jdbcType=INTEGER},
      </if>
      <if test="articleLikeCount != null" >
        article_like_count = #{articleLikeCount,jdbcType=INTEGER},
      </if>
      <if test="articleHasComment != null" >
        article_has_comment = #{articleHasComment,jdbcType=INTEGER},
      </if>
      <if test="articleStatus != null" >
        article_status = #{articleStatus,jdbcType=INTEGER},
      </if>
      <if test="articleOrder != null" >
        article_order = #{articleOrder,jdbcType=INTEGER},
      </if>
      <if test="articleUpdateTime != null" >
        article_update_time = #{articleUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleCreateTime != null" >
        article_create_time = #{articleCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleSummary != null" >
        article_summary = #{articleSummary,jdbcType=VARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Aug 16 21:39:30 GMT+08:00 2020.
    -->
    update article
    set article_user_id = #{articleUserId,jdbcType=INTEGER},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR},
      article_view_count = #{articleViewCount,jdbcType=INTEGER},
      article_comment_count = #{articleCommentCount,jdbcType=INTEGER},
      article_like_count = #{articleLikeCount,jdbcType=INTEGER},
      article_has_comment = #{articleHasComment,jdbcType=INTEGER},
      article_status = #{articleStatus,jdbcType=INTEGER},
      article_order = #{articleOrder,jdbcType=INTEGER},
      article_update_time = #{articleUpdateTime,jdbcType=TIMESTAMP},
      article_create_time = #{articleCreateTime,jdbcType=TIMESTAMP},
      article_summary = #{articleSummary,jdbcType=VARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  
  <!-- Generate time: 2020-08-16 21:39:30 ### -->


  <!-- Your codes goes here!!! -->
  
</mapper>